@charset "utf-8";
/*#firstScreen{
  background-image: url("../img/pic1.jpg");
  background-size:cover;
  margin:0;
  padding:0;
}

@media screen and (max-width: 992px) {
    #firstScreen{
  background-image: url("../img/pic7.png");
  background-size:cover;
  margin:0;
  padding:0;
}
}*/

/*#firstScreen
{ 
background-image:url("../img/pic1.jpg");
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;
background-size:cover;
  margin:0;
  padding:0;
}*/